<p>¡Hola {{data.user.name}} {{data.user.lastname}}!</p>

<p>
  Has solicitado un nuevo enlace de verificación para tu cuenta en el <b>{{system.name}}</b>.
</p>

<p>
  Solo necesitas hacer clic en el botón de abajo para confirmar tu cuenta.
</p>

<div class="code-container">
  <div class="button-code">
    <a href="{{system.url}}/public/email-verifications?token={{data.token}}">Verificar Cuenta</a>
  </div>

  <div class="expires">
    Este link expirará en <strong>24</strong> horas.
  </div>
</div>

<hr>
<small style="font-size:10px;" class="code-message">
  Si el botón no funciona, copia y pega este enlace en tu navegador:
</small>
<br/>
<span style="font-size:8px;" class="code-message">
  {{system.url}}/public/email-verifications?token={{data.token}}
</span>
